.about-section {
  float: left;
  width: 100%;
  position: relative;
  z-index: 1;
  background-image: url("https://ik.imagekit.io/bn1u7wfqt/background_Xeh8hxLZ2.png");
  background-position: center;
  background-repeat: no-repeat;
  padding: 100px 0px;
  min-height: 100vh;
}
