.hero {
  background-image: url("https://ik.imagekit.io/bn1u7wfqt/hero__IpbKjKd2NI.jpg");
  background-size: cover;
  background-attachment: fixed;
  float: left;
  width: 100%;
  display: flex;
  align-items: center;
  height: 100vh;
  position: relative;
  z-index: 1;
  font-family: "EB Garamond", Times, Serif;

  h2 {
    font-size: 3.2em;
    font-style: normal;
    font-weight: 200;
    text-transform: none;
    color: white;

    span {
      color: orange;
  
    }

  }

  p {
    color: #fff;
    font-size: 20px;
    font-weight: 500;
  }

  i.fas {
    width: 200px;
    height: 100px;
    color: var(--gray);
  }

  .row .pointer {
    padding-top: 100px;
  }
}

.bg-overlay-light:before {
  content: "";
  background: rgba(0, 0, 0, 0.2);
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  z-index: -1;
}

.hero-btn {
  display: inline-flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative;
  padding: 0 30px;
  height: 64px;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0.036em;
  line-height: 64px;
  vertical-align: middle;
  text-align: center;
  text-decoration: none !important;
  color: white;
  cursor: pointer;
  border: 0 solid transparent;
  background: orange;
  -webkit-transition: 0.5s ease-in;
  transition: 0.5s ease-in;

  &:hover {
    padding-left: calc(30px + 15px);
    padding-right: calc(30px + 15px);
    color: darkslategray;
  }
}
